

.main-nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-height: 10vh;
    border:2px solid white;
    border-bottom:2px solid rgb(240, 230, 230);
    margin-bottom: 12px;    
}

.nav-bar-heading {
    font-family : "inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align:  "center";
}

.nav-right {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
ul.nav-links {
    list-style: none;
    text-decoration: none;
    display: flex;
    font-size: large;
}

.nav-style {
    color: black;
    text-decoration: none;
}


.nav-style-buttons {
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type=text]:focus{
    outline: 2px solid transparent;
  }

  input[type="text"] {
    font-family: "inter", sans-serif;
    font-size: 14px;

  }