.full-card {
  text-decoration: none;
  max-width: 33%;
  color: black;
}

@media screen and (max-width: 1200px) {
  .full-card {
    max-width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .full-card {
    max-width: 100%;
  }

  .single-card {
    height: 350px;
  }
}



.single-card {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 450px;
  background-color: rgb(243, 243, 243);
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card-image {
  width: 100%;
  max-height: 80%;
  object-fit: contain;
  transition: transform 0.5s;
}

.single-cards:hover > .card-image{
  transform: scale(1.08);
}

.product-name {
  font-family: "poppins", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  /* margin-top: 10px; */
  /* padding: 10px; */
  
}

.product-price {
  font-family: "inter", sans-serif;
  text-align: center;
  font-size: 18px;
  /* margin-top: 10px; */
  color: indianred;
}
